/Terradue.OpenSearch.GeoJson/Terradue.OpenSearch.GeoJson.userprefs

/packages/

/Terradue.OpenSearch.GeoJson/.svn/

/Terradue.OpenSearch.GeoJson/bin/

*.userprefs

/Terradue.OpenSearch.GeoJson/obj/

/Terradue.OpenSearch.GeoJson/packages/

/Terradue.OpenSearch.GeoJson.Test/bin/
Terradue.OpenSearch.GeoJson.Test/obj
